.logo {
  max-width: 720px;

  margin: 5rem auto 0;
}
.container {
  max-width: 1120px;
  margin-top: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 720px;
  margin: 5rem auto 0;


  a {
      display: block;

      & + a {
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: 1px solid #323238;

      }

      time {
          font-size: 1rem;
          display: flex;

      }

      strong {
          display: block;
          font-size: 1.5rem;
          line-height: 2rem;

      }

      ul {
          list-style: none;
          margin-top:1.5rem;
          display: flex;

          & li {
            font-size:0.875rem;

            & svg {
              margin-right: 0.5rem;
            }

            & + li {
              margin-left: 1.625rem;
              margin-bottom: 2rem;
            }
          }
        }

        }
        button {
          margin-top: 2rem;
          margin-bottom: 2rem;
          border: none;
          background: none;
          color: #FF57B2;
          font-size: bold;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            filter: brightness(0.8)
          }
        }
  }
